name: Test specification
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  generic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
      - run: npm install
      - run: |
          curl https://raw.githubusercontent.com/vrchatapi/specification/gh-pages/openapi.yaml -o openapi.yaml

          rm cache/state -rf

          ./node_modules/.bin/ava reset-cache
          ./node_modules/.bin/ava --serial
        env:
          VRCHAT_EMAIL: ${{ secrets.VRCHAT_EMAIL }}
          VRCHAT_USERNAME: ${{ secrets.VRCHAT_USERNAME }}
          VRCHAT_PASSWORD: ${{ secrets.VRCHAT_PASSWORD }}
          VRCHAT_TOTP_SECRET: ${{ secrets.VRCHAT_TOTP_SECRET }}
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add . -A
          git commit -m "ci(test: $(date -I)): new changes"
          git push